body{
  background: lightgray;
  background-color: lightgray;
}

.celllink{
  width: 10px;
}

.btn{
  width: 100%;
  margin: 0;
}

td{
  padding: 0 !important;
  margin: 0 !important;
}
